.shell {
  display: grid;
  grid-template-areas:
    "nav main"
    "nav main";
  grid-template-rows: 1fr;
  grid-template-columns: 256px 1fr;
  height: 100vh;
  overflow: hidden;
  background: var(--color-background);
  transition: grid-template-columns 0.2s ease;

  &--collapsed {
    grid-template-columns: 0 1fr;

    .shell__nav {
      overflow: hidden;
      pointer-events: none;
    }
  }

  &__nav {
    grid-area: nav;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--color-background);
  }
}
